.navbar-default {
	border: none;
	background: #1e2449; /* Old browsers */
	background: -moz-linear-gradient(left,  #1e2449 0%, #311a33 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1e2449), color-stop(100%,#311a33)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #1e2449 0%,#311a33 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #1e2449 0%,#311a33 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #1e2449 0%,#311a33 100%); /* IE10+ */
	background: linear-gradient(to right,  #1e2449 0%,#311a33 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e2449', endColorstr='#311a33',GradientType=1 ); /* IE6-9 */

	.navbar-nav {
		a {
			font-size: 13px;
			font-weight: bold;
			letter-spacing: 1px;

			&.navbar-brand {
				transition: none;
			}
		}

		.navbar-image {
			float: left;
			margin: 7px 15px;
			border-radius: 50%;
		}
	}
}

.navbar-brand {
	font-weight: bold;
	background: rgba(255, 255, 255, .1);
}

section.sub-header {
	margin-bottom: 35px;
	padding: 15px 0;

	h3 {
		margin: 0;
		font-weight: normal;
	}
}